.nav-buttons{
    margin-left: 60%;
}


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
    resize: none;
  }

h1{
    font-size: 2.5rem;
    font-family: 700;
}
h2 {
    font-size: 1.9rem;
    font-weight: 600;
}
h3 {
    font-size: 1.5rem;
    font-weight: 800;
}
h4 {
    font-size: 1.9rem;
    font-weight: 600;
}
h5 {
    font-size: 1rem;
    font-weight: 400;
}
h6 {
    color: #d8d8d8;
}

.navbar {
    font-size: 16px;
    padding-top: 2rem!important;
    padding-bottom: 2rem!important;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: #000;
    transition: 0.4s ease;
}

.nav-item a:hover, .nav-item a.active:hover{
    color: coral;

}
.navbar i:hover{
    color: coral;
}

.navbar i{
    font-size: 1.2rem;
    padding: 10px 10px;
    transition: 0.4s ease;
    cursor: pointer;
    margin-left: 5px;
}
@media (max-width: 991px){
    .nav-buttons{
        margin: 10px;
    }

    .nav-buttons ul{
        margin: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .nav-buttons ul li .fas{
       margin: 20px 5px 10px 20px;
    }

}


#home{
    /* background-color: aquamarine; */
    background-image: url('../imgs/background-02.jpg');
    background-repeat: no-repeat;
    opacity: 0.8;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position-x: 0;
    background-position-y: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #FFF;
    margin-bottom: 50px;
}

#home span {
    color: #c5a880;
    font-weight: bolder;
}

.banner-text{
    margin-top: 100px;
    opacity: 1;
}
@media (max-width: 991px){
    .banner-text{
        margin-top: 20px!important;
    }
}

.buy-btn{
    background-color: #c5a880;
}

.buy-btn:hover{
    background-color: #000;
    color: #c5a880;
    transition: 0.3s all;
    border: 1px solid #c5a880;
}

#new .one img{
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#new .one{
    position: relative;

}

#new .one .details {
    position: absolute;
    top: 0;
    left: 0;
    color: burlywood;
    font-weight: bold;
    transition: 0.4s ease;
    opacity: 0.5;
    background-color: #000;
    width: 100%;
    height: 100%;
}

#new .one .details:hover {
    background-color: cornsilk;
}

.details:hover h2 {
    color: black;
    font-weight: bold;
}

#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product{
    cursor: pointer;
    margin-bottom: 2rem;
}


.product img{
    height: 250px;
    transition: 0.3s all;
}

.product:hover img{
    opacity: 0.7;
}

.product .buy-btn{
    background-color: #c5a880;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.3s all;
}
.product .buy-btn:hover{
    color: #000;
}

.product:hover .buy-btn{
    transform: translateY(0px);
    opacity: 1;
}

hr {
    width: 30px;
    height: 3px !important;
    opacity: 1 !important;
    background-color: #c5a880;
}

.star {
    padding: 10px 0;
}

.star {
    font-size: 0.9rem;
    color: goldenrod;
}

#banner{
    background-image: url('../imgs/background-05.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: 80px;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #FFF;
    margin-bottom: 50px;
}

#banner h4{
    font-weight: 100;

}

#banner h1{
    color: #c5a880;

}

#banner button:hover{
    background-color: #000;
    transition: 0.3s all;
}

footer{
    background-color: #222222;
}

footer h5{
    color: #d8d8d8;
    font-weight: 700;
    font-size: 1.2rem;
}

footer li {
    padding-bottom: 4px;
}

footer li a{
    font-size: 0.8rem;
    color: #999;
    text-decoration: none;
}

footer li a:hover{
    color: #d8d8d8;
}

footer .copyright a{
    color: #000;
    height: 40px;
    width: 40px;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    transition: 0.3s ease;
    margin: 0 5px;
}

footer .copyright a:hover{
    color: white;
    background-color: #dc3545;
}

footer p{
    color: white;
}

.fa{
    color: white;
    font-size: 42px;
}

.logo{
    height: 60px;
    width: 60px;
}

/* SHOP PAGE */

/* .product img{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    object-fit: cover;
} */

.pagination a{
    color: coral;
}

.pagination li:hover a{
    background-color: #fb774b;
    color: #FFF;
}

/* SINGLE PRODUCT PAGE */
.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}
@media (min-width: 760px){
#product_pickup_date, #product_pickup_time{
    width: 140px;
    height: 40px;
    border: none;
}
}
.single-product input:focus{
    outline: none;

}

.single-product .buy-btn{
    background-color: #c5a880;
    opacity: 1;
    transition: 0.4s all;
    border-radius: 0;
}

.single-product .buy-btn:hover{
    background-color: #000;
    color: #c5a880;
    border: 1px solid #c5a880;
}

/* Cart */
.cart table{
    width: 100%;
    border-collapse: collapse;

}

.cart .product-info{
    display: flex;
    flex-wrap: wrap;
}

.cart th{
    text-align: left;
    padding: 5px 10px;
    background-color: #dc3545;
    color: #FFF;
}

.cart td{
    padding: 10px 20px;
}

.cart td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.cart input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}

.cart th a{
    color: #dc3545;
}

.cart .remove-btn{
    text-decoration: none;
    color: #dc3545;
    font-size: 15px;
    background-color: #FFF;
    border: none!important;
    width: 150px;
}

.cart .edit-btn{
    color: #dc3545;
    text-decoration: none;
    font-size: 14px;
    background-color: #FFF;
    border: none!important;
}

.cart .product-info p{
    margin: 3px;
}

.cart-total{
    display: flex;
    justify-content: flex-end;

}

.cart-total table{
    width: 100%;
    max-width: 500px;
    border-top: 3px solid #dc3545;
}
td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}
.checkout-container{
    display: flex;
    justify-content: flex-end;

}
.checkout-btn{
    background-color: #dc3545;
    color: #FFF;
}
.checkout-btn:hover{
    background-color: #000;
    color: #dc3545;
}

/* JOBS */
.jobs{
    cursor: pointer;
    margin-bottom: 2rem;
}


.jobs img{
    height: 250px;
    transition: 0.3s all;
}

/* About Us  */
    
    .timeline:after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -1px;
        border-right: 2px dashed #c4d2e2;
        height: 100%;
        display: block;
    }
    
    .timeline-row {
        padding-left: 50%;
        position: relative;
        margin-bottom: 30px;
    }
    
    .timeline-row .timeline-time {
        position: absolute;
        right: 50%;
        top: 31px;
        text-align: right;
        margin-right: 20px;
        color: #c5a880;
        font-size: 1.5rem;
    }
    
    .timeline-row .timeline-time small {
        display: block;
        font-size: .8rem;
        color: #c5a880;
    }
    
    .timeline-row .timeline-content {
        position: relative;
        padding: 20px 30px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    
    .timeline-row .timeline-content:after {
        content: "";
        position: absolute;
        top: 20px;
        height: 3px;
        width: 40px;
    }
    
    .timeline-row .timeline-content:before {
        content: "";
        position: absolute;
        top: 20px;
        right: -50px;
        width: 20px;
        height: 20px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        z-index: 100;
        background: #ffffff;
        border: 2px dashed #c4d2e2;
    }
    
    .timeline-row .timeline-content h4 {
        margin: 0 0 20px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 150%;
    }
    
    .timeline-row .timeline-content p {
        margin-bottom: 30px;
        line-height: 150%;
    }
    
    .timeline-row .timeline-content i {
        font-size: 2rem;
        color: #c5a880;
        line-height: 100%;
        padding: 10px;
        border: 2px solid #ffffff;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        margin-bottom: 10px;
        display: inline-block;
    }
    
    .timeline-row .timeline-content .thumbs {
        margin-bottom: 20px;
    }
    
    .timeline-row .timeline-content .thumbs img {
        margin-bottom: 10px;
    }
    
    .timeline-row:nth-child(even) .timeline-content {
        background-color: #000000;
        /* Fallback Color */
        background-image: -webkit-gradient(linear, left top, left bottom, from(#212529), to(#212529));
        /* Saf4+, Chrome */
        background-image: -webkit-linear-gradient(top, #212529, #212529);
        /* Chrome 10+, Saf5.1+, iOS 5+ */
        background-image: -moz-linear-gradient(top, #212529, #212529);
        /* FF3.6 */
        background-image: -ms-linear-gradient(top, #212529, #212529);
        /* IE10 */
        background-image: -o-linear-gradient(top, #212529, #212529);
        /* Opera 11.10+ */
        background-image: linear-gradient(top, #212529, #212529);
        margin-left: 40px;
        text-align: left;
        color: #c5a880;
    }
    
    .timeline-row:nth-child(even) .timeline-content:after {
        left: -39px;
        border-right: 18px solid #000000;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
    
    .timeline-row:nth-child(even) .timeline-content:before {
        left: -50px;
        right: initial;
    }
    
    .timeline-row:nth-child(odd) {
        padding-left: 0;
        padding-right: 50%;
    }
    
    .timeline-row:nth-child(odd) .timeline-time {
        right: auto;
        left: 50%;
        text-align: left;
        margin-right: 0;
        margin-left: 20px;
    }
    
    .timeline-row:nth-child(odd) .timeline-content {
        background-color: #000000;
        /* Fallback Color */
        background-image: -webkit-gradient(linear, left top, left bottom, from(#212529), to(#212529));
        /* Saf4+, Chrome */
        background-image: -webkit-linear-gradient(top, #212529, #212529);
        /* Chrome 10+, Saf5.1+, iOS 5+ */
        background-image: -moz-linear-gradient(top, #212529, #212529);
        /* FF3.6 */
        background-image: -ms-linear-gradient(top, #212529, #212529);
        /* IE10 */
        background-image: -o-linear-gradient(top, #212529, #212529);
        /* Opera 11.10+ */
        background-image: linear-gradient(top, #212529, #212529);
        margin-right: 40px;
        margin-left: 0;
        text-align: right;
        color: #c5a880;

    }
    
    .timeline-row:nth-child(odd) .timeline-content:after {
        right: -39px;
        border-left: 18px solid #000000;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
    
    @media (max-width: 767px) {
        .timeline {
            padding: 15px 10px;
        }
        .timeline:after {
            left: 28px;
        }
        .timeline .timeline-row {
            padding-left: 0;
            margin-bottom: 16px;
        }
        .timeline .timeline-row .timeline-time {
            position: relative;
            right: auto;
            top: 0;
            text-align: left;
            margin: 0 0 6px 56px;
        }
        .timeline .timeline-row .timeline-time strong {
            display: inline-block;
            margin-right: 10px;
        }
        .timeline .timeline-row .timeline-icon {
            top: 52px;
            left: -2px;
            margin-left: 0;
        }
        .timeline .timeline-row .timeline-content {
            padding: 15px;
            margin-left: 56px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            position: relative;
        }
        .timeline .timeline-row .timeline-content:after {
            right: auto;
            left: -39px;
            top: 32px;
        }
        .timeline .timeline-row:nth-child(odd) {
            padding-right: 0;
        }
        .timeline .timeline-row:nth-child(odd) .timeline-time {
            position: relative;
            right: auto;
            left: auto;
            top: 0;
            text-align: left;
            margin: 0 0 6px 56px;
        }
        .timeline .timeline-row:nth-child(odd) .timeline-content {
            margin-right: 0;
            margin-left: 55px;
        }
        .timeline .timeline-row:nth-child(odd) .timeline-content:after {
            right: auto;
            left: -39px;
            top: 32px;
            border-right: 18px solid #5a99ee;
            border-left: inherit;
        }
        .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
            left: 20px;
        }
        .timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
            left: 0;
        }
    }